* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: #000000;
}

.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
  border: 1px solid #c8c5c5;
}

nav {
  display: flex;
  gap: 34px;
  align-items: center;
}

.logo-name {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 20.8609px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #000000;
}

.logo-name::after {
  content: url(./Vector\ 1.svg);
  margin-left: 30px;
  width: 0px;
  height: 16.87px;
}

.menu-item-grey {
  color: #757575;
}

.nav-after::after {
  content: url(./Vector\ 2.svg);
  margin-left: 5px;
  width: 6.92px;
  height: 3.46px;
  color: #757575;
}

nav ul {
  display: flex;
  gap: 34px;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.04em;
}

nav ul a {
  color: inherit;
}

.sign-in-up {
  display: flex;
  align-items: center;
  gap: 29px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.04em;
}

.sign-in img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 14px;
  gap: 14px;
}

.sign-in-up a {
  display: flex;
  color: #000000;
}

.sign-in-text {
  display: flex;
  align-items: center;
  color: #757575;
}

.sign-out {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.04em;
}

.sign-out::after {
  content: "\2794";
  margin-left: 5px;
}

.hero {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-inline: 20px;
}

.hero-desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  margin-top: 94px;
  color: #2b788b;
}

.hero-title {
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -0.04em;
  margin-top: 24px;
  color: #000000;
}

.hero-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.04em;
  margin-top: 30px;
  color: #757575;
}

.hero-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 22px;
  gap: 19px;
  width: 165px;
  height: 44px;
  background: #c3dce3;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #2b788b;
  border-radius: 100px;
  margin-top: 32px;
}

.tagline {
  display: flex;
  flex-direction: row;
  gap: 100px;
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-top: 49px;
  color: #000000;
}

.tagline span {
  color: #2b788b;
}

.first-par-tagline::before {
  content: url(./lightning.svg);
  margin-right: 10px;
  width: 24px;
  height: 30px;
}

.second-par-tagline::before {
  content: url(./mobile-games.svg);
  margin-right: 10px;
  width: 24px;
  height: 30px;
}
